@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cat_tag_form_btn {
        @apply bg-transparent border-1 border-solid my-[10px] border-green-600 text-green-600 rounded-none;
    }

    .blue_bg {
        @apply bg-blue-900 text-red-500;
    }
    
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

.featured_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 0px -250px;
    /* background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)); */
    /* mask-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)); */
    /* mask-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5),rgba(0,0,0,0.65) 100%); */
    -webkit-mask-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5) 0%, rgba(50, 50, 50, 0.5) 100%);
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); */
}

.related_image {
    /* width: 300px; */
    width: 100%;
    /* max-height: ; */
    /* max-height: 250px; */
    height: auto;
    /* height: 250px; */
    /* height: 200px; */
    object-fit: cover;
    /* object-fit: none; */
    /* object-position: -300px -125px; */
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5) 0%, rgba(50, 50, 50, 0.5) 100%); */
}

/* .related_image:hover { */
/*     -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 100%, rgba(0, 0, 0, 0) 100%); */
/*     opacity: 1; */
/* } */
